{% extends "base.html" %}

{% block title %}
絶起証明書ジェネレータ
{% endblock %}
{% block contents %}
<h1 class="border-bottom-0">発行完了</h1>
<div class="row">
    <div class="col-sm-6">
        <img src="{{imgpath}}" class="img-fluid">
    </div>
    <div class="col-sm-6">
        <div class="card card-inverse card-danger text-center">
            <div class="card-block">
                <div class="card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}